openapi: 3.0.0
info:
  contact: {}
  description: Esta API REST proporciona endpoints para obtener detalles de
    informes de analistas.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: Recupera el contenido de texto sin procesar de informes de análisis
        de analistas profesionales. Devuelve informes completos de analistas,
        notas de análisis y recomendaciones de inversión de instituciones
        financieras. Incluye metadatos del informe, cambios de calificación,
        precios objetivo y análisis detallados. Es esencial para acceder a
        análisis institucionales y al sentimiento de los analistas.
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: "Número de página para la paginación. Indexado desde cero (0 =
            primera página, 1 = segunda página, etc.). Predeterminado: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "Número de resultados por página. Predeterminado: 100. Máximo: 100.
            Devuelve primero los informes más recientes."
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: Matriz de informes de analistas con contenido de texto completo y
            metadatos
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: "Solicitud incorrecta: parámetros no válidos"
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: Error interno del servidor
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: Informes de análisis de analistas
      tags:
        - Analyst Reports
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: Producción
