openapi: 3.0.0
info:
  contact: {}
  description: Pruebe la entrega del webhook para verificar que su integración
    funcione correctamente
  title: Webhook API
  version: 1.0.0
servers:
  - url: https://api.benzinga.com
paths:
  /api/v1/webhook/test:
    get:
      summary: Probar la entrega del webhook
      description: Este endpoint enviará datos de prueba a su endpoint de webhook para
        que pueda verificar su integración
      operationId: get-webhook-test
      parameters:
        - name: destination
          in: query
          required: true
          description: La URL del endpoint de webhook a la que se enviarán los datos de
            prueba
          schema:
            type: string
            format: uri
          example: https://your-endpoint.com/webhook
        - name: version
          in: query
          required: true
          description: Versión de la API, actualmente webhook/v1
          schema:
            type: string
            enum:
              - webhook/v1
            default: webhook/v1
        - name: kind
          in: query
          required: true
          description: Identifica el tipo de mensaje. Actualmente, News/v1
          schema:
            type: string
            enum:
              - News/v1
            default: News/v1
        - name: token
          in: query
          required: false
          description: Especifique el token para que los datos se transformen para su uso
            en producción
          schema:
            type: string
      responses:
        "200":
          description: "Éxito: la entrega de prueba del webhook se envió correctamente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        "400":
          description: "Solicitud no válida: inspeccione el cuerpo de la respuesta para
            obtener más detalles"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid destination URL
        "424":
          description: "Error de entrega: el sistema encontró un error al entregar la
            carga útil de prueba"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to deliver test payload to destination
        "500":
          description: Error interno del servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
      security:
        - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Key
      description: Su clave API de Benzinga
