openapi: 3.0.0
info:
  contact: {}
  description: このREST APIは、アナリストレポートの詳細を取得するためのエンドポイントを提供します。
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /analyst/reports/raw-text:
    get:
      description: プロのアナリストによる調査レポートから、生のテキストコンテンツを取得します。金融機関によるアナリストレポートの全文、調査ノート、投資推奨を返します。レポートのメタデータ、レーティング変更、目標株価、詳細な分析が含まれます。機関投資家向けリサーチやアナリストのセンチメントにアクセスするうえで重要です。
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: "ページネーション用のページ番号。0始まりです（0 = 1ページ目、1 = 2ページ目、など）。デフォルト: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト: 100。最大: 100。最新のレポートから順に返します。"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: 全文テキストコンテンツとメタデータを含むアナリストレポートの配列
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: 不正なリクエスト - 無効なパラメータ
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: アナリスト調査レポート
      tags:
        - Analyst Reports
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com
    description: 本番環境
