openapi: 3.0.0
info:
  contact: {}
  description: このREST APIは、決算説明会トランスクリプトの検索および詳細取得のためのエンドポイントを提供します。
  termsOfService: http://swagger.io/terms/
  title: Earnings Call Transcripts API
  version: 1.0.0
paths:
  /api/v1/earnings-call-transcripts:
    get:
      description: 指定した会社またはコールIDの決算説明会トランスクリプトを取得します。Q&Aセッション、話者情報、タイムスタンプを含む、四半期および年次の決算説明会の全文トランスクリプトを返します。日付フィルターを使用して特定の報告期間のトランスクリプトを取得したり、ティッカーシンボルで絞り込んで会社ごとの決算説明会を対象に検索したりできます。
      operationId: get-earnings-call-transcripts
      parameters:
        - description: "決算説明会トランスクリプトを絞り込むための、株式ティッカーシンボルのカンマ区切りリスト（例:
            AAPL,MSFT,GOOGL）。これらの会社のすべてのトランスクリプトを返します。"
          in: query
          name: tickers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: 取得対象の特定のコールIDのカンマ区切りリストです。既知の決算説明会識別子に対応するトランスクリプトを取得するために使用します。ティッカーによるフィルタリングより優先されます。
          in: query
          name: call_id
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: "ページネーション用のページ番号。ゼロ始まりです（0 = 1ページ目、1 = 2ページ目、など）。デフォルト: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト: 5。最大: 1000。一括データ取得には大きめのページサイズを使用してください。"
          in: query
          name: pagesize
          schema:
            type: integer
        - description: "YYYY-MM-DD形式の開始日フィルター（例: 2024-01-01）。この日付以降の決算説明会トランスクリプトを返します。"
          in: query
          name: date_from
          schema:
            type: string
        - description: "YYYY-MM-DD形式の終了日フィルター（例: 2024-12-31）。この日付以前の決算説明会トランスクリプトを返します。"
          in: query
          name: date_to
          schema:
            type: string
      responses:
        "200":
          description: 全文テキストおよびメタデータを含む決算説明会トランスクリプトの概要配列
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.TranscriptSummary"
                type: array
        "400":
          description: 不正なリクエスト - 無効なパラメータ
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 決算説明会トランスクリプト
      tags:
        - Earnings Call Transcripts
  /api/v1/earnings-call-transcripts/audio:
    get:
      description: 決算説明会録音のダウンロード可能な音声ファイルURLを取得します。四半期および年次の決算説明会の完全な音声録音にアクセスするための署名付きURLを返します。音声ファイルには、決算説明全体とQ&Aセッションが含まれます。URLには有効期限があり、認可されたアクセス用に安全に署名されています。
      operationId: get-earnings-call-transcript-audio-files
      parameters:
        - description: "音声ファイルを絞り込むための、株式ティッカーシンボルのカンマ区切りリスト（例:
            AAPL,MSFT,GOOGL）。これらの会社のすべての決算説明会の音声ファイルを返します。"
          in: query
          name: tickers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: 音声ファイルの取得対象となる特定のコールIDのカンマ区切りリストです。既知の決算説明会識別子に対応する音声を取得するために使用します。
          in: query
          name: call_id
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: "ページネーション用のページ番号。ゼロ始まりです（0 = 1ページ目、1 = 2ページ目、など）。デフォルト: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト: 5。最大: 1000"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: 署名付きダウンロードURLを含む決算説明会音声ファイルのメタデータ配列
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.TranscriptSummaryAudio"
                type: array
        "400":
          description: 不正なリクエスト - 無効なパラメータ
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: 決算説明会音声ファイル
      tags:
        - Earnings Call Transcripts
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    models.Security:
      properties:
        cik:
          type: string
        company_name:
          type: string
        exchange:
          type: string
        isin:
          type: string
        ticker:
          type: string
      type: object
    models.Summary:
      properties:
        summary:
          type: string
        time:
          type: number
      type: object
    models.TranscriptAudioFile:
      properties:
        file_url:
          type: string
      type: object
    models.TranscriptSummary:
      properties:
        call_id:
          type: string
        created:
          type: integer
        date:
          type: string
        id:
          type: string
        reviewed:
          type: boolean
        security:
          $ref: "#/components/schemas/models.Security"
        start_time:
          type: string
        summaries:
          items:
            $ref: "#/components/schemas/models.Summary"
          type: array
        summary_full:
          type: string
        title:
          type: string
        transcript_full:
          type: string
        transcript_timestamped:
          items:
            $ref: "#/components/schemas/models.TranscriptTimestamp"
          type: array
        updated:
          type: integer
        user_id:
          type: integer
      type: object
    models.TranscriptSummaryAudio:
      properties:
        audio_file:
          $ref: "#/components/schemas/models.TranscriptAudioFile"
        call_id:
          type: string
        created:
          type: integer
        date:
          type: string
        id:
          type: string
        security:
          $ref: "#/components/schemas/models.Security"
        start_time:
          type: string
        updated:
          type: integer
      type: object
    models.TranscriptTimestamp:
      properties:
        time:
          type: number
        transcript:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com/api/v1
    description: V1
