openapi: 3.0.0
info:
  contact: {}
  description: このREST APIは、トレンドティッカーの検索とティッカー詳細の取得を行うためのエンドポイントを提供します。
  termsOfService: http://swagger.io/terms/
  title: TickerTrends API
  version: 2.1.0
paths:
  /api/v1/trending-tickers:
    get:
      description: 順位や変動を含む特定のティッカーのトレンドデータを取得します。異なる時間間隔における集計済みのトレンドスコアとアクティビティレベルを返します。
      operationId: get-ticker-trend-data
      parameters:
        - description: "トレンドデータを集計する時間間隔。サポートされる値: 10m（10分）、1h（1時間）、1d（1日）。必須。"
          in: query
          name: interval
          required: true
          schema:
            type: string
        - description: "トレンドデータを取得する株式ティッカーシンボルのカンマ区切りリスト（例: AAPL,MSFT,TSLA）。必須。"
          in: query
          name: tickers
          required: true
          schema:
            type: string
        - description: "トレンド計算のデータソースフィルター。サポートされる値:
            all（すべてのソースを結合）、clickstream（ユーザー操作データ）、logo（ロゴリクエストデータ）。必須。"
          in: query
          name: source
          required: true
          schema:
            type: string
        - description: トレンド分析の時間枠。特定の日付範囲で結果を絞り込むための任意のカスタム時間枠を指定できます。
          in: query
          name: timeframe
          schema:
            type: string
        - description: "ページネーションのページ番号。ゼロ始まり（0 = 1ページ目、1 = 2ページ目、など）。デフォルト: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果件数。デフォルト: 1000。最大: 1000"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: エンゲージメント指標を含むトレンドデータ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpapi.tickerTrendAPIResponse"
        "400":
          description: 不正なリクエスト - 必須パラメータ（interval、tickers、またはsource）が不足しているか無効です
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpapi.tickerTrendAPIResponse"
      security:
        - ApiKeyAuth: []
      summary: ティッカートレンドデータを取得
      tags:
        - Ticker Trends
  /api/v1/trending-tickers/list:
    get:
      description: さまざまな指標に基づくトレンドティッカーの一覧を取得します。異なる時間間隔におけるトレンドスコア順で証券を返します。
      operationId: get-ticker-trend-list-data
      parameters:
        - description: 非推奨です。代わりにtimeframeを使用してください。トレンドデータを集計する時間間隔。
          in: query
          name: interval
          required: true
          schema:
            type: string
        - description: 結果を絞り込むための任意のティッカーシンボルのカンマ区切りリスト。省略した場合は、すべてのトレンドティッカーを返します。
          in: query
          name: tickers
          schema:
            type: string
        - description: "トレンド計算のデータソースフィルター。サポートされる値:
            all（すべてのソースを結合）、clickstream（ユーザー操作データ）、logo（ロゴリクエストデータ）。必須。"
          in: query
          name: source
          required: true
          schema:
            type: string
        - description: "トレンドデータを集計する時間間隔。サポートされる値: 10m（10分）、1h（1時間）、1d（1日）。デフォルト: 1d"
          in: query
          name: timeframe
          schema:
            type: string
        - description: "24時間形式の開始時刻フィルター（例: 09:15、14:30）。正確な時間範囲を指定するにはdate_fromと併用してください。"
          in: query
          name: time_from
          schema:
            type: string
        - description: "24時間形式の終了時刻フィルター（例: 16:00、22:30）。正確な時間範囲を指定するにはdate_toと併用してください。"
          in: query
          name: time_to
          schema:
            type: string
        - description: "ISO 8601形式の開始日フィルター（例:
            2024-12-30、2024-01-15）。正確な範囲を指定するにはtime_fromと併用してください。"
          in: query
          name: date_from
          schema:
            type: string
        - description: "ISO 8601形式の終了日フィルター（例:
            2024-12-30、2024-01-31）。正確な範囲を指定するにはtime_toと併用してください。"
          in: query
          name: date_to
          schema:
            type: string
        - description: "ページネーション用のpage番号。0始まり（0 = 1ページ目、1 = 2ページ目、…）。デフォルト: 0"
          in: query
          name: page
          schema:
            type: integer
        - description: "1ページあたりの結果数。デフォルト: 1000。最大: 1000"
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: エンゲージメントスコア付きのトレンドティッカー順位リスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.TrendingTickersListAPIResponse"
        "400":
          description: 不正なリクエスト - source パラメーターが不足しているか無効、またはdate/時刻の形式が無効です
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.TrendingTickersListAPIResponse"
      security:
        - ApiKeyAuth: []
      summary: トレンドティッカーの一覧を取得
      tags:
        - Ticker Trends
components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
  schemas:
    bzhttp.Error:
      properties:
        code:
          $ref: "#/components/schemas/bzhttp.ErrorCode"
        id:
          type: string
        value:
          type: string
      type: object
    bzhttp.ErrorCode:
      enum:
        - json_unmarshaling_error
        - no_data_found
        - no_matching_endpoint
        - bad_request
        - db_error
        - internal_server_error
        - auth_failed
        - forbidden
        - failed_dependency
        - service_unavailable
        - upstream_api_error
        - unsupported_message_type
        - database_query_error
      type: string
      x-enum-varnames:
        - ErrorJSONUnmarshaling
        - ErrorNoDataFound
        - ErrorNoMatchingEndpoint
        - ErrorBadRequest
        - ErrorDBError
        - ErrorInternalServerError
        - ErrorAuthFailed
        - ErrorForbidden
        - ErrorFailedDependency
        - ErrorServiceUnavailable
        - ErrorUpstreamAPIError
        - ErrorUnsupportedMessageType
        - ErrorDBQueryError
    bzhttp.Resp:
      properties:
        data:
          additionalProperties: true
          type: object
        errors:
          items:
            $ref: "#/components/schemas/bzhttp.Error"
          type: array
        ok:
          type: boolean
      type: object
    httpapi.tickerTrendAPIResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/httpapi.tickerTrendData"
          type: array
        ok:
          type: boolean
      type: object
    httpapi.tickerTrendData:
      properties:
        exchange:
          type: string
        metrics:
          items:
            $ref: "#/components/schemas/httpapi.tickerTrendMetrics"
          type: array
        ticker:
          type: string
      type: object
    httpapi.tickerTrendMetrics:
      properties:
        count:
          type: integer
        count_mavg:
          type: number
        market_count_average:
          type: number
        scaled_count:
          type: number
        scaled_count_mavg:
          type: number
        time_bucket:
          type: string
      type: object
    models.Security:
      properties:
        exchange:
          type: string
        name:
          type: string
        ticker:
          type: string
      type: object
    models.TrendingTickersListAPIResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/models.TrendingTickersListData"
          type: array
        ok:
          type: boolean
      type: object
    models.TrendingTickersListData:
      properties:
        count:
          type: integer
        pct_chg:
          type: integer
        security:
          $ref: "#/components/schemas/models.Security"
      type: object
servers:
  - url: https://api.benzinga.com
    description: PROD
