openapi: 3.0.0
info:
  contact: {}
  description: Webhook配信をテストして、統合が正しく機能していることを確認します
  title: Webhook API
  version: 1.0.0
servers:
  - url: https://api.benzinga.com
paths:
  /api/v1/webhook/test:
    get:
      summary: Webhook配信のテスト
      description: このエンドポイントは、統合を確認できるように、Webhookエンドポイントへテストデータを送信します
      operationId: get-webhook-test
      parameters:
        - name: destination
          in: query
          required: true
          description: テストデータの送信先となるWebhookエンドポイントURL
          schema:
            type: string
            format: uri
          example: https://your-endpoint.com/webhook
        - name: version
          in: query
          required: true
          description: APIバージョン。現在は webhook/v1
          schema:
            type: string
            enum:
              - webhook/v1
            default: webhook/v1
        - name: kind
          in: query
          required: true
          description: メッセージ種別を識別します。現在は ニュース/v1
          schema:
            type: string
            enum:
              - News/v1
            default: News/v1
        - name: token
          in: query
          required: false
          description: 本番利用向けにデータを変換するには、token を指定します
          schema:
            type: string
      responses:
        "200":
          description: 成功 - テストWebhook配信が正常に送信されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        "400":
          description: 無効なリクエスト - 詳細はレスポンス本文を確認してください
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid destination URL
        "424":
          description: 配信エラー - テストペイロードの配信中にシステムエラーが発生しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to deliver test payload to destination
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
      security:
        - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Key
      description: Benzinga APIキー
